[data-tooltip] {
   position: relative;
   text-decoration: none;
}
[data-tooltip]:after {
   content: attr(data-tooltip);
   position: absolute;
   bottom: 130%;
   left: 0%;
   background: #000000;
   padding: 5px 15px;
   color: #ffffff;
   -webkit-border-radius: 10px;
   -moz-border-radius   : 10px;
   border-radius        : 10px;
   white-space: nowrap;
   opacity: 0;
   -webkit-transition: all 0.4s ease;
   -moz-transition   : all 0.4s ease;
   transition   : all 0.4s ease;
   pointer-events: none;
}
[data-tooltip]:hover:after {
   bottom: 110%;
}
[data-tooltip]:hover:after, a:hover:before {
   opacity: 1;
}
