.draft-resizeable-wrapper {
    display: block;
    height: 40px;
    position: relative;
    margin-right: 5px;
    margin-bottom: 5px;
    z-index: 2;
}

.ratiobox.active {
    outline: 3px solid #000000;
}

.draft-resizeable-wrapper .overlay {
    width: 101%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: black;
    z-index: 6;
}

.draft-resizeable-wrapper .overlay-l {
    width: 6px;
    height: 100%;
    top: 0;
    left: 0px;
    position: absolute;
    z-index: 1;
}

.draft-resizeable-wrapper .overlay-r {
    width: 6px;
    height: 100%;
    top: 0;
    right: -1px;
    position: absolute;
    z-index: 1;
}

.draft-resizeable-wrapper .overlay-t {
    width: 100%;
    height: 6px;
    top: 0;
    right: 0px;
    position: absolute;
    z-index: 1;
}

.draft-resizeable-wrapper .overlay-b {
    width: 100%;
    height: 6px;
    bottom: 0;
    left: 0px;
    position: absolute;
    z-index: 1;
}

.draft-resizeable-wrapper .overlay-m {
    cursor: move;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    position: absolute;
    top: 1px;
    right: 20px;
    z-index: 1;
    width: 10px;
    height: 10px;
    font-size: 30px;
}

[data-tooltip] {
    position: relative;
    text-decoration: none;
}

[data-tooltip]:after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 130%;
    left: 0%;
    background: #000000;
    padding: 5px 15px;
    color: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    white-space: nowrap;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    pointer-events: none;
}

[data-tooltip]:hover:after {
    bottom: 110%;
}

[data-tooltip]:hover:after, a:hover:before {
    opacity: 1;
}

.ratiobox{
    position: relative;
}
.ratiobox:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: attr(data-ratio%);
}

.ratiobox > .ratiobox-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ratiobox.ratio0:before {
    padding-top: 0%;
}

.ratiobox.ratio5:before {
    padding-top: 5%;
}

.ratiobox.ratio10:before {
    padding-top: 10%;
}

.ratiobox.ratio15:before {
    padding-top: 15%;
}

.ratiobox.ratio20:before {
    padding-top: 20%;
}

.ratiobox.ratio25:before {
    padding-top: 25%;
}

.ratiobox.ratio30:before {
    padding-top: 30%;
}

.ratiobox.ratio35:before {
    padding-top: 35%;
}

.ratiobox.ratio40:before {
    padding-top: 40%;
}

.ratiobox.ratio45:before {
    padding-top: 45%;
}

.ratiobox.ratio50:before {
    padding-top: 50%;
}

.ratiobox.ratio55:before {
    padding-top: 55%;
}

.ratiobox.ratio60:before {
    padding-top: 60%;
}

.ratiobox.ratio65:before {
    padding-top: 65%;
}

.ratiobox.ratio70:before {
    padding-top: 70%;
}

.ratiobox.ratio75:before {
    padding-top: 75%;
}

.ratiobox.ratio80:before {
    padding-top: 80%;
}

.ratiobox.ratio85:before {
    padding-top: 85%;
}

.ratiobox.ratio90:before {
    padding-top: 90%;
}

.ratiobox.ratio95:before {
    padding-top: 95%;
}

.ratiobox.ratio100:before {
    padding-top: 100%;
}

.draft-toolbar {
    background-color: #000;
    border: none;
    border-radius: 50px;
    font-size: 16px;
}

.draft-toolbar .item {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.draft-toolbar .item:first-child {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    padding-left: 6px;
}

.draft-toolbar .item:last-child {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding-right: 6px;
}

.draft-toolbar .item.active {
    background-color: #2f2f2f;
}

.draft-toolbar .item:hover {
    background-color: #2f2f2f;
}

.draft-toolbar .item button {
    background-color: transparent;
    border: 0;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 1.33;
    margin: 0;
    padding: 15px;
    text-decoration: none;
}

.wrapper{
    position: relative;
}
.uploading{
    outline: 5px dashed black;
}
.uploading-progress{
    top: 0;
    left: 0;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;
}

.caption-wrapper{
    display: inline;
}
.draft-resizeable-wrapper.with-caption{
    margin-bottom: 40px!important;
}
.caption-text {
    position: relative;
    margin-top: 20px;
    width: 100%;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 1.4;
    color: rgba(0,0,0,.6);
    letter-spacing: 0;
}
.caption-text .public-DraftEditor-content > div > .paragraph {
    margin-top: 0px!important
}
.caption-text * {
    text-align: center!important;
}